@charset "UTF-8";
.container {
    width: 100%;
    height: 150vh;
    background-color: black;
    font-family: 'Noto Serif JP', serif;
}

.title {
    color: aliceblue;
    padding: 32px 125px;
}

.title p {
    font-size: 20px;
}

main {
    width: 90%;
    margin: 0 auto;
}

.light-list {
    display: flex;
    flex-wrap: wrap;
}

.light {
    position: relative;
    margin-top: 20px;
    margin-left: 38px;
}

.light>img {
    height: 120px;
    width: 10vh;
    cursor: pointer;
}

.text {
    color: white;
    font-size: 15px;
    cursor: pointer;
    /* 文字を縦にする方法 */
    writing-mode: vertical-rl;
    /* 電球に重ねて配置。あとは微調整で当たり文字を電球に隠す。初めは透明で消しておく */
    position: absolute;
    top: 42%;
    left: 51%;
    opacity: 0;
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
    .title {
        color: aliceblue;
        padding: 1px 38px;
    }
    .light {
        margin-top: 3%;
        margin-left: 0%;
    }
    .light>img {
        height: 70px;
        width: 40px;
        cursor: pointer;
    }
    .text {
        color: white;
        font-size: 12px;
        cursor: pointer;
        writing-mode: vertical-rl;
        position: absolute;
        top: 18%;
        left: 56%;
        opacity: 0;
    }
}

@media screen and (max-width: 375px) {
    .container {
        width: 100%;
    }
    .title {
        color: aliceblue;
        padding: 1px 38px;
    }
    .light {
        margin-top: 3%;
        margin-left: 0%;
    }
    .light>img {
        height: 70px;
        width: 40px;
        cursor: pointer;
    }
    .text {
        color: white;
        font-size: 12px;
        cursor: pointer;
        writing-mode: vertical-rl;
        position: absolute;
        top: 18%;
        left: 56%;
        opacity: 0;
    }
}