@charset "UTF-8";

body {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    font-family: Georgia, 'æ¸¸æ˜Žæœ', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
}
.title h1 {
    font-size: 35px;
    margin-top: 10px;
}
header nav {
    width: 30%;
    margin: 20px;
    color: gray;
}
header ul {
    display: flex;
    justify-content: space-between;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
header i {
    margin-top: 10px;
}


main img {
    height: 500px;
    width: 100%;
}
main p {
    font-size: 25px;
    margin-top: 30px;
    color: gray;
    line-height: 50px;
}
.box {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
section img {
    width: 28%;

}
section .box-right {
    width: 60%;
    margin: 20px;
}
.box h2 {
    font-size: 30px;
    margin-top: 26px;
    margin-bottom: 25px;
}
.box p {
    font-size: 20px;
    color: gray;
    line-height: 30px;
}

.picture {
    display: flex;
    overflow: scroll;
    width: 100%;
}
.picture img {
    width: 300px;
    height: 220px;
    margin-right: 15px;
}


.sec-footer {
    border: 1px 0px solid gray;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(167, 164, 164);
    border-top: 1px solid rgb(167, 164, 164);
    padding: 70px 50px;
    box-sizing: border-box;
}

.profile {
    width: 30%;
}
.prof-box {
    height: 150px;
    display: flex;
}
.img-left {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 35px;
}
.img-right {
    margin-left: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile .name {
    font-size: 20px;
}
.profile .icon {
    display: flex;
    margin-top: 5px;
}
.profile i {
    margin: 0px 10px 0px 10px;
}
.profile p {
    color: gray;
    line-height: 25px;
    margin-top: 10px;
    font-size: 15px;
}

.travel,
.Daily,
.other {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: 30px;
}
.other {
    width: 15%;
    margin-left: 20px;
}
.travel h4,
.Daily h4,
.other h4 {
    font-size: 18px;
}
.travel a,
.Daily a,
.other a {
    font-size: 18px;
    color: gray;
}
.travel {
    margin-left: 115px;
}
.other a {
    border-bottom: 1px solid rgb(119, 118, 118);
    /* width: fit-content; */
    padding-bottom: 2px;
    /* text-decoration: none; */
}

footer {
    height: 100px;
}
.footer-box{
    margin-top: 90px;
    display: flex;
}
footer i {
    font-size: 30px;
    margin-left: 70px;
    color: gray;
}
footer .icon {
    width: 35%;
}

a {
    text-decoration: none;
    color:black;
}

@media screen and (max-width:830px) {
header i {
    /* fontawesomeのファイルの中に元々display:が入っているので、importantと表示してあげないと反映されない */
    display: none !important;
}
header li {
    font-size: 13px;
    margin-right: 5px;
}
main p {
    font-size: 20px;
}
section .box {
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
section img {
    width: 70%;
}
.sec-footer {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.profile {
    width: 100%;
}
.other {
    margin: 0px;
}
.travel,
.Daily,
.other {
    width: 100%;
    height: 140px;
}
.other p {
    text-align: center;
}
.other {
    margin-top: 15px;
}
footer i{
    margin-left: 20px;
}
footer .icon {
    width: 15%;
}
.footer-text {
    padding-top: 7px;
}
.travel {
    margin-left: 0px;
}
}
